<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/cat.png">
    <link href="https://cdn.jsdelivr.net/gh/hung1001/font-awesome-pro@4cac1a6/css/all.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="/font/themify-icons-font/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Giỏ hàng</title>
</head>

<body class="px-5" style="padding-top: 5rem;">
    <header>
        <%- include('../views/nav.ejs' , {active: "user" }) %>
    </header>
    <div class="align-middle p-3" style="background-color: #eee;">
        <h5 class="mb-3"><a href="/sp" class="text-body"><i class="fas fa-long-arrow-alt-left me-2"></i>Quay lại</a></h5>
        <hr>
        <div class="row row-cols-1 row-cols-md-2">
            <div class="col-md-8">
                <h2 class="mb-3">Giỏ hàng</h2>
                <% for( let index=0; index < GIOHANG.length; index++ ) { %>
                    <% for( let i=0; i < THUOC.length; i++ ) { %>
                        <% if( GIOHANG[index].MATHUOC==THUOC[i].MATHUOC ) { %>
                            <div class="d-flex flex-wrap justify-content-between my-3 p-2" style="
                                border-radius: 10px;
                                background: #ffffff;
                                box-shadow:  11px 11px 32px #e3e3e3,
                                            -11px -11px 32px #ffffff;">
                                <div class="d-flex align-items-center">
                                    <div>
                                        <img src="/public/uploads/<%= THUOC[i].MATHUOC %>/<%= THUOC[i].TENANH %>"
                                            class="img-fluid rounded-3" alt="Shopping item"
                                            style="width: 65px; height: 65px;">
                                    </div>
                                    <div class="ms-5">
                                        <h5>
                                            <%= THUOC[i].TENTHUOC %>
                                        </h5>
                                        <a class="small mb-0" href="/thuoc/<%= THUOC[i].MATHUOC %>">Chi tiết</a>
                                    </div>
                                </div>
                                <div class="d-flex flex-row align-items-center">
                                    <div>
                                        <h5 class="fw-normal mb-0">
                                            <%= GIOHANG[index].SOLUONG %> sp
                                        </h5>
                                    </div>
                                    <div class="mx-5" style="width: 80px;">
                                        <h5 class="mb-0">
                                            <%= GIOHANG[index].THANHTIEN %> VNĐ
                                        </h5>
                                    </div>
                                    <form>
                                        <input type="hidden" name="MATHUOC" value="<%= THUOC[i].MATHUOC %>">
                                        <button type="submit" formaction="/delCart" formmethod="post"
                                            style="color: #cecece; background-color: #ffffff; border: none;"><i
                                                class="fas fa-trash-alt bg-none"></i></button>
                                    </form>
                                </div>
                            </div>
                        <% } %>
                    <% } %>
                <% } %>
            </div>
            <div class="col-md-4">
                <h2 class="mb-3">Thành tiền</h2>
                <div class="card text-dark rounded-7 w-100"
                    style="transform: none; box-shadow: none; background-color: #DDE0E6;">
                    <div class="card-body" style="transform: none; box-shadow: none;">
                        <div class="row">
                            <p class="col-6">Tổng cộng</p>
                            <p class="col-6">
                                <%= TONGTIEN %> VNĐ
                            </p>
                        </div>

                        <div class="row">
                            <p class="col-6">Phí vận chuyển</p>
                            <p class="col-6">Miễn phí</p>
                        </div>
                        <form id="form-valid" action="/thanhtoan" method="post">
                            <input type="hidden" name="GIOHANG" value="<%= JSON.stringify(GIOHANG) %>">
                            <input type="hidden" name="THUOC" value="<%= JSON.stringify(THUOC) %>">
                            <div class="row row-cols-1 my-3">
                                <div class="form-group col">
                                    <label class="text-dark" for="DIENTHOAI">Điện thoại</label>
                                    <input class="form-control" type="text" id="DIENTHOAI" name="DIENTHOAI" placeholder="Điện thoại">
                                    <span class="form-message"></span>
                                </div>
                            </div>
                            <div class="row row-cols-1 mb-3">
                                <div class="form-group col">
                                    <label class="text-dark" for="DIACHI">Địa chỉ</label>
                                    <input class="form-control" type="text" id="DIACHI" name="DIACHI" placeholder="Địa chỉ">
                                    <span class="form-message"></span>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-info btn-block btn-lg"
                                style="background-color: #bed2e1; border-color: #bed2e1;">
                                <div class="">
                                    <span>
                                        Thanh toán
                                    </span>
                                    <span><i class="fas fa-long-arrow-alt-right ms-2"></i></span>
                                </div>
                            </button>
                        </form>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="foot">
        <%- include('../views/footer.ejs') %>
    </div>
</body>
<script src="/js/dt.js"></script>
<script>
    let form = document.getElementById('form-valid');
    ValidateForm(form);
</script>
</html>