<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>db</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td,
        th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #ccc;
        }

        thead {
            background-color: #ccc;
        }

        tr:hover {
            background-color: #ddd;
        }

        form {
            display: flex;
            flex-direction: column;
            width: 30%;
            margin: 0 auto;
        }

        input {
            margin-bottom: 10px;
        }

        input[type="submit"] {
            width: 50px;
            margin: 0 auto;
        }
    </style>
</head>

<body>
    <table>
        <thead>
            <th>Mã thuốc</th>
            <th>Tên thuốc</th>
            <th>Mã nhóm</th>
            <th>Loại sử dụng</th>
            <th>Thành phần</th>
            <th>Mã nhà cung cấp</th>
            <th>Giá sỉ</th>
            <th>Giá lẻ</th>
            <th>Giá nhập</th>
            <th>Dạng bảo chế</th>
            <th>Quy cách đóng gói</th>
            <th>Công dụng</th>
            <th>Chi tiết</th>
        </thead>
        <tbody>
            <% for( let index=0; index < THUOC.length; index++ ) { %>
                <tr>
                    <td>
                        <%= THUOC[index].MATHUOC %>
                    </td>
                    <td>
                        <%= THUOC[index].TENTHUOC %>
                    </td>
                    <td>
                        <%= THUOC[index].MANHOM %>
                    </td>
                    <td>
                        <%= THUOC[index].LOAISD %>
                    </td>
                    <td>
                        <%= THUOC[index].THANHPHAN %>
                    </td>
                    <td>
                        <%= THUOC[index].MANCC %>
                    </td>
                    <td>
                        <%= THUOC[index].GIASI %>
                    </td>
                    <td>
                        <%= THUOC[index].GIALE %>
                    </td>
                    <td>
                        <%= THUOC[index].GIANHAP %>
                    </td>
                    <td>
                        <%= THUOC[index].DANGBAOCHE %>
                    </td>
                    <td>
                        <%= THUOC[index].QCDONGGOI %>
                    </td>
                    <td>
                        <%= THUOC[index].CONGDUNG %>
                    </td>
                    <td style="display: flex; flex-direction: column;">
                        <a href="/thuoc/<%= THUOC[index].MATHUOC %>">details</a>
                        <form action="/deleteThuoc" method="post" style="margin: 0%;">
                            <input type="hidden" name="MATHUOC" value="<%= THUOC[index].MATHUOC %>">
                            <input type="submit" value="Xóa">
                        </form>
                        <form action="/editThuoc/<%= THUOC[index].MATHUOC %>" method="get" style="margin: 0%;">
                            <input type="hidden" name="MATHUOC" value="<%= THUOC[index].MATHUOC %>">
                            <input type="submit" value="sửa">
                        </form>
                    </td>
                </tr>
                <% } %>
        </tbody>
    </table>
    <!-- Hiển thị nút Previous nếu không phải trang đầu tiên -->
    <% if (pageNumber> 1) { %>
        <a href="/db?pageNumber=<%= pageNumber - 1 %>&pageSize=<%= pageSize %>">Previous</a>
    <% } %>

    <!-- Hiển thị các nút phân trang -->
    <% for (let i=1; i <=totalPages; i++) { %>
        <% if (i===pageNumber) { %>
            <span>
        <%= i %>
            </span>
        <% } else { %>
                <a href="/db?pageNumber=<%= i %>&pageSize=<%= pageSize %>">
                    <%= i %>
                </a>
        <% } %>
    <% } %>

    <!-- Hiển thị nút Next nếu không phải trang cuối cùng -->
    <% if (pageNumber < totalPages) { %>
        <a href="/db?pageNumber=<%= pageNumber + 1 %>&pageSize=<%= pageSize %>">Next</a>
    <% } %>

    <form action="/createNewThuoc" method="post">
        <label for="MATHUOC">Mã thuốc</label>
        <input type="text" name="MATHUOC" placeholder="Mã thuốc">
        <label for="TENTHUOC">Tên thuốc</label>
        <input type="text" name="TENTHUOC" placeholder="Tên thuốc">
        <label for="MANHOM">Mã nhóm</label>
        <input type="text" name="MANHOM" placeholder="Mã nhóm">
        <label for="LOAISD">Loại sử dụng</label>
        <input type="text" name="LOAISD" placeholder="Loại sử dụng">
        <label for="THANHPHAN">Thành phần</label>
        <input type="text" name="THANHPHAN" placeholder="Thành phần">
        <label for="MANCC">Mã nhà cung cấp</label>
        <input type="text" name="MANCC" placeholder="Mã nhà cung cấp">
        <label for="GIASI">Giá sỉ</label>
        <input type="text" name="GIASI" placeholder="Giá sỉ">
        <label for="GIALE">Giá lẻ</label>
        <input type="text" name="GIALE" placeholder="Giá lẻ">
        <label for="GIANHAP">Giá nhập</label>
        <input type="text" name="GIANHAP" placeholder="Giá nhập">
        <label for="DANGBAOCHE">Dạng bảo chế</label>
        <input type="text" name="DANGBAOCHE" placeholder="Dạng bảo chế">
        <label for="QCDONGGOI">Quy cách đóng gói</label>
        <input type="text" name="QCDONGGOI" placeholder="Quy cách đóng gói">
        <label for="CONGDUNG">Công dụng</label>
        <input type="text" name="CONGDUNG" placeholder="Công dụng">
        <input type="submit" value="Thêm">
    </form>
</body>

</html>