<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web bán thuốc thú y</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/images/cat.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
    integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="s
   ha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
   <link rel="stylesheet" href="/font/themify-icons-font/themify-icons/themify-icons.css">
</head>

<body>
    <header>
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <% for( let index=0; index < 3; index++ ) { %>
                    <div class="carousel" style="width: 18rem;">
                        <img class="carousel-item" src="/public/uploads/<%= THUOC[index].MATHUOC %>/<%= THUOC[index].TENANH %>" alt="">
                        <div class="card-body">
                            <h5 class="card-title"><%= THUOC[index].TENTHUOC %></h5>
                            <p class="card-text"><%= THUOC[index].CONGDUNG %></p>
                            <a href="/thuoc/<%= THUOC[index].MATHUOC %>" class="btn btn-primary">BUY</a>
                        </div>
                        </div>
                <% } %>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
    </header>
    <div id="wrapper">
        <%- include('../views/nav.ejs') %>
        <div id="banner">
            <div class="box-left">
                <h2>
                    <span>THUỐC CHO ĐỘNG VẬT</span>
                </h2>
                <p>Chuyên cung cấp thuốc đặc trị cũng như thực phẩm bổ sung
                    cho động vật
                </p>
                <button>Mua ngay</button>
            </div>
            <div class="box-right">
                <img src="/images/cat.png" alt="">
                <img src="/images/dog.png" alt="">
                <img src="/images/cow.png" alt="">
            </div>
        </div>
        <div id="wp-products">
            
        </div>

        <div id="comment">
            <h2>NHẬN XÉT CỦA KHÁCH HÀNG</h2>
            <div id="comment-body">
                <div class="prev">
                    <a href="#">
                        <img src="assets/img/sea-life.png" alt="">
                    </a>
                </div>
                <ul id="list-comment">
                    <li class="item">
                        <div class="avatar">
                            <img src="assets/img/kh1.jpg" alt="">
                        </div>
                        <div class="name">Lê Trương Trọng Tấn</div>

                        <div class="text">
                            <p>Sản phẩm tốt, hiệu quả nhanh. tôi thấy những chú gà nhà tôi đã khoẻ hơn.</p>
                        </div>
                    </li>
                    <li class="item">
                        <div class="avatar">
                            <img src="assets/avatar_1.png" alt="">

                        </div>
                        <div class="stars">
                            <span>
                                <img src="assets/star.png" alt="">
                            </span>
                            <span>
                                <img src="assets/star.png" alt="">
                            </span>
                            <span>
                                <img src="assets/star.png" alt="">
                            </span>
                            <span>
                                <img src="assets/star.png" alt="">
                            </span>
                            <span>
                                <img src="assets/star.png" alt="">
                            </span>
                        </div>
                        <div class="name">Trần Ngọc Sơn</div>

                        <div class="text">
                            <p>Nếu có thể định vị thiên đường thì hẳn nơi đó chính là LOGO, càng đặc biệt hơn nữa nếu bạn là người ăn chay (Vegetarian).
                                 Đừng quên trò chuyện với anh Tuấn (quản lý nhà hàng)-một người đàn ông tuyệt vời, luôn khiến mọi người xung quanh cảm thấy thoải mái và dễ chịu.</p>
                        </div>
                    </li>
                    <li class="item">
                        <div class="avatar">
                            <img src="assets/avatar_1.png" alt="">

                        </div>
                        <div class="stars">
                            <span>
                                <img src="assets/star.png" alt="">
                            </span>
                            <span>
                                <img src="assets/star.png" alt="">
                            </span>
                            <span>
                                <img src="assets/star.png" alt="">
                            </span>
                            <span>
                                <img src="assets/star.png" alt="">
                            </span>
                            <span>
                                <img src="assets/star.png" alt="">
                            </span>
                        </div>
                        <div class="name">Nguyễn Trần Vi</div>

                        <div class="text">
                            <p>Chúng tôi đến đây theo lời giới thiệu và đã dùng ở đây cho cả 3 bữa tối khi ở TP.HCM. Chất lượng dịch vụ tuyệt vời, 
                                thực đơn có rất nhiều sự lựa chọn cho cả món chay và món thuần chay.
                                 Chất lượng món ăn và cách chế biến vô cùng sáng tạo. Thức uống sinh tố và nước ép thật tuyệt vời. Rất đáng giá.</p>
                        </div>
                    </li>
                 
                </ul>
                <div class="next">
                    <a href="#">
                        <img src="assets/next.png" alt="">
                    </a>
                </div>
            </div>
        </div>

        <div id="footer">
            <div class="box">
                <div class="logo">
                    <img src="assets/img/logo.jpeg" alt="">
                </div>
                <p>Cung cấp sản phẩm với chất lượng an toàn cho quý khách</p>
            </div>
            <div class="box">
                <h3>NỘI DUNG</h3>
                <ul class="quick-menu">
                    <div class="item">
                        <a href="/">Trang chủ</a>
                    </div>
                    <div class="item">
                        <a href="/sp">Sản phẩm</a>
                    </div>
                    <div class="item">
                        <a href="">Blog</a>
                    </div>
                    <div class="item">
                        <a href="/contact">Liên hệ</a>
                    </div>
                </ul>
            </div>
        </div>
    </div>
    <script src="assets/js/script.js"></script>
</body>

</html>