<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chi tiết sản phẩm</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/images/cat.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</head>

<body>
    <!-- header -->
    <header>
        <% if (message) { %>
            <p style="color: brown;">
                <%= message %>
            </p>
            <% } %>
        <nav>
            
            <div class="content-nav">
                <%- include('../views/nav.ejs', {active: "sp"}) %>
                <form>
                    <input type="text" name="search" placeholder="Tìm kiếm sản phẩm..." />
                </form>
            </div>
        </nav>
    </header>

    <div class="products">
        <% for( let index=0; index < THUOC.length; index++ ) { %>
            <div class="card-deck">
                <div class="card">
                    <img class="card-img-top" src="/public/uploads/<%= THUOC[index].MATHUOC %>/<%= THUOC[index].TENANH %>" alt="Card image cap">
                    <div class="card-body">
                    <h5 class="card-title"><%= THUOC[index].TENTHUOC %></h5>
                    <p class="card-text"><%= THUOC[index].CONGDUNG %></p>
                    <a href="/thuoc/<%= THUOC[index].MATHUOC %>" class="btn btn-primary">BUY</a>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        <% } %>
    </div>
    
    <nav aria-label="Page navigation example" style="margin: 10px">
        <ul class="pagination justify-content-center">
        <!-- Hiển thị nút Previous nếu không phải trang đầu tiên -->
            <% if (pageNumber> 1) { %>
                <li class="page-item"><a class="page-link" href="/sp?pageNumber=<%= pageNumber - 1 %>&pageSize=<%= pageSize %>" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                </a></li>
            <% } %>
            <!-- Hiển thị các nút phân trang -->
            <% for (let i=1; i <=totalPages; i++) { %>
                <% if (i===pageNumber) { %>
                    <span>
                        <li class="page-item active" style="cursor: default;"><a class="page-link"><%= i %></a></li>
                    </span>
                <% } else { %>
                    <li class="page-item"><a class="page-link" href="/sp?pageNumber=<%= i %>&pageSize=<%= pageSize %>"><%= i %></a></li>
                <% } %>
            <% } %>
        <!-- Hiển thị nút Next nếu không phải trang cuối cùng -->
            <% if (pageNumber < totalPages) { %>
                <li class="page-item"><a class="page-link" href="/sp?pageNumber=<%= pageNumber + 1 %>&pageSize=<%= pageSize %>" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a></li>
            <% } %>
        </ul>
    </nav>

<!-- footer -->
<footer>
    <div class="footer-item">
        <div class="img-footer">
            <img src="assets/logo.png" alt="" />
        </div>
                <div class="social-footer">
            <li><a target="_blank" href="https://www.facebook.com/Xuantuan059/">
                    <i class="fa fa-facebook-square" aria-hidden="true"></i>
                </a></li>
            <li><a target="_blank" href="https://github.com/doanxuantuan">
                    <i class="fa fa-github-square" aria-hidden="true"></i>
                </a></li>
           <li><a target="_blank" href="https://myaccount.google.com/?hl=vi&utm_source=OGB&utm_medium=act">
                    <i class="fa fa-google" aria-hidden="true"></i>
                </a></li>
            <li><a target="_blank" href="https://www.youtube.com/channel/UCGRteQaA_3MUX-crhiFxkLg">
                    <i class="fa fa-youtube" aria-hidden="true"></i>
                </a></li>
                <li><a target="_blank" href="https://www.instagram.com/xuantuan01/">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                </a></li>
        </div>
    </div>
</footer>
</body>
<script>
    var modal = document.getElementById("myModal");
    var btn = document.getElementById("cart");
    var close = document.getElementsByClassName("close")[0];
    var close_footer = document.getElementsByClassName("close-footer")[0];
    var order = document.getElementsByClassName("order")[0];
    btn.onclick = function () {
      modal.style.display = "block";
    }
    close.onclick = function () {
      modal.style.display = "none";
    }
    close_footer.onclick = function () {
      modal.style.display = "none";
    }
    order.onclick = function () {
      alert("Cảm ơn bạn đã thanh toán đơn hàng")
    }
    window.onclick = function (event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }</script>
