<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chi tiết sản phẩm</title>
    <link rel="stylesheet" href="/css/4T_Detail.css">
    <link rel="icon" href="/images/cat.png">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>

<body>
    <!-- header -->
    <header>
        <% if (message) { %>
            <p style="color: brown;">
                <%= message %>
            </p>
            <% } %>
        <nav>
            <div class="img-nav">
                <img src="assets/logo.png" alt="" />
            </div>
            <div class="content-nav">
                <ul>
                    <li><a href="/4T">Trang Chủ</a></li>
                    <li><a href="#">Sản Phẩm</a></li>
                    <li><a href="4T_Contact.html">Liên hệ</a></li>
                    <li><a href="4T_Info.html">Về chúng tôi</a></li>
                </ul>
                <form>
                    <input type="text" name="search" placeholder="Tìm kiếm sản phẩm..." />
                </form>
            </div>
            <button id="cart">
                <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                Giỏ Hàng
            </button>
            <div id="myModal" class="modal">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Giỏ Hàng</h5>
                        <span class="close">&times;</span>
                    </div>
                    <div class="modal-body">
                        <div class="cart-row">
                            <span class="cart-item cart-header cart-column">Sản Phẩm</span>
                            <span class="cart-price cart-header cart-column">Giá</span>
                            <span class="cart-quantity cart-header cart-column">Số Lượng</span>
                        </div>
                        <div class="cart-items">

                        </div>
                        <div class="cart-total">
                            <strong class="cart-total-title">Tổng Cộng:</strong>
                            <span class="cart-total-price">0VNĐ</span>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary close-footer">Đóng</button>
                        <button type="button" class="btn btn-primary order">Thanh Toán</button>
                    </div>
                </div>
            </div>
        </nav>
    </header>
<!-- content -->
<section class="wrapper">
    <div class="products">
        <% for( let index=0; index < THUOC.length; index++ ) { %>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/public/uploads/<%= THUOC[index].MATHUOC %>/<%= THUOC[index].TENANH %>" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"><%= THUOC[index].TENTHUOC %></h5>
                    <p class="card-text"><%= THUOC[index].CONGDUNG %></p>
                    <a href="#" class="btn btn-primary">BUY</a>
                </div>
                </div>
        <% } %>
    </div>
</section>

<!-- footer -->
<footer>
    <div class="footer-item">
        <div class="img-footer">
            <img src="assets/logo.png" alt="" />
        </div>
                <div class="social-footer">
            <li><a target="_blank" href="https://www.facebook.com/Xuantuan059/">
                    <i class="fa fa-facebook-square" aria-hidden="true"></i>
                </a></li>
            <li><a target="_blank" href="https://github.com/doanxuantuan">
                    <i class="fa fa-github-square" aria-hidden="true"></i>
                </a></li>
           <li><a target="_blank" href="https://myaccount.google.com/?hl=vi&utm_source=OGB&utm_medium=act">
                    <i class="fa fa-google" aria-hidden="true"></i>
                </a></li>
            <li><a target="_blank" href="https://www.youtube.com/channel/UCGRteQaA_3MUX-crhiFxkLg">
                    <i class="fa fa-youtube" aria-hidden="true"></i>
                </a></li>
                <li><a target="_blank" href="https://www.instagram.com/xuantuan01/">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                </a></li>
        </div>
    </div>
</footer>
<script>
    var modal = document.getElementById("myModal");
    var btn = document.getElementById("cart");
    var close = document.getElementsByClassName("close")[0];
    var close_footer = document.getElementsByClassName("close-footer")[0];
    var order = document.getElementsByClassName("order")[0];
    btn.onclick = function () {
      modal.style.display = "block";
    }
    close.onclick = function () {
      modal.style.display = "none";
    }
    close_footer.onclick = function () {
      modal.style.display = "none";
    }
    order.onclick = function () {
      alert("Cảm ơn bạn đã thanh toán đơn hàng")
    }
    window.onclick = function (event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }</script>
</body>